.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gupter-medium {
    font-family: "Gupter", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .gupter-bold {
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
  }
    
  .galdeano-regular {
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
  box-sizing: border-box; 
}
  

body {
    margin: 0;
    scroll-behavior: smooth;
  }

h1{
  font-family: "Gupter", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-family: "Gupter", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
}


.navbar {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    height: 72px;
}

.navbar .nav-links {
    display: flex;
    gap: 56px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 80px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;

}

.navbar .nav-links a:hover {
    color: #F5EB0A;
}

.navbar .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .logo img {
    height: 24px;
}

.navbar .left-links {
    flex-grow: 1;
}

.main {
  background-size: cover;
  background-position: center;
  height: 720px;
  background-image: url('resources/images/bg_img.png');
}

.main__content {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 720px;
  position: relative;
}


.main__content h1 {
  width: 522px;
  color: #F5EB0A;
}

.main__content p {
  width: 305px;
  position: absolute;
  bottom: 80px;
  right: 13%;
  color: white
}

.our-goal {
  padding: 60px 80px 120px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 60px;
}

.our-goal p {
  width: 480px;
  font-size: 18px;
}

.what-we-do {
  background-color: #F5EB0A;
  display: flex;
}

.what-we-do__img {
  background-size: cover;
  background-image: url('resources/images/what-we-do.png');
}

.what-we-do__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px;
  gap: 160px;
  min-width: 560px;
}

.what-we-do__img, .what-we-do__content {
  flex-basis: 50%; /* Ensures equal width */
}

.descriptions {
  display: grid;
  gap: 60px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}

.descriptions-item {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.descriptions-item p {
  opacity: 70%;
}

.team {
  background-color: #F3F2E5;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 80px 120px 80px;
  gap: 60px;

}

.team-content {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-item {
  flex-basis: 23%; /* Each member takes up about a quarter of the row */
  margin-bottom: 20px;
}

.team-item img{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.second-title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 120px 10%;
  color: #2A1F0F;
}

footer {
  background-color: #231F19;
  padding: 60px 80px 120px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 320px;
  gap: 60px;

}

footer img {
  width: 220px;
}

footer p {
  color: white;
}

footer h4 {
  color:#F5EB0A;
  padding-bottom: 4px;
}

.footer__content {
  display: flex;
  gap: 20px;
}

.footer__item {
  width: 197px;
}